<!doctype html>
<html lang="en-us">
    <head>
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Ελέφαντας coffee hub</title>
        <meta name="description" content="" />

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css" />

        <!-- Web fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Space+Mono:400,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico" />

        <meta property="og:title" content="Ελέφαντας coffee hub" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://elefantascoffeehub.gr" />
        <meta
            property="og:image"
            content="https://elefantascoffeehub.gr/img/meta-logo.png"
        />

        <meta name="twitter:title" content="Ελέφαντας coffee hub" />
        <meta
            name="twitter:image"
            content=" https://elefantascoffeehub.gr/img/meta-logo.png"
        />
        <meta name="twitter:card" content="summary_large_image" />

        <meta property="og:title" content="Ελέφαντας coffee hub" />
        <meta property="og:type" content="article" />
        <meta
            property="og:image"
            content="https://elefantascoffeehub.gr/img/meta-logo.png"
        />
        <meta property="og:url" content="https://elefantascoffeehub.gr" />
    </head>

    <body class="has-animations"></body>
</html>
